<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TutorialsNinja Suite">
    <test name="TutorialsNinja Tests">
        <classes>
            <class name="MyRunner.RunnerClassTest"/>
        </classes>
    </test> <!-- Test -->

</suite> <!-- Suite -->